## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

Methodology
We will adopt the OSEMiN data science workflow, which involves:

-Obtain (import the data)
-Scrub (clean the data, deal with missing values and data types)
-Explore (answer descriptives questions using EDA)
-Model (build our predictive model)
-Interpret (comment on our model and findings)

# Column Names and descriptions for Kings County Data Set
id** - unique identified for a house
dateDate** - house was sold
pricePrice** -  is prediction target
bedroomsNumber** -  of Bedrooms/House
bathroomsNumber** -  of bathrooms/bedrooms
sqft_livingsquare** -  footage of the home
sqft_lotsquare** -  footage of the lot
floorsTotal** -  floors (levels) in house
waterfront** - House which has a view to a waterfront
view** - Has been viewed
condition** - How good the condition is ( Overall )
grade** - overall grade given to the housing unit, based on King County grading system
sqft_above** - square footage of house apart from basement
sqft_basement** - square footage of the basement
yr_built** - Built Year
yr_renovated** - Year when house was renovated
zipcode** - zip
lat** - Latitude coordinate
long** - Longitude coordinate
sqft_living15** - The square footage of interior housing living space for the nearest 15 neighbors
sqft_lot15** - The square footage of the land lots of the nearest 15 neighbors

# Import packages

In [1]:
# Import libraries

import pandas as pd
import numpy as np

from itertools import combinations

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.style.use('seaborn')

from pathlib import Path
import pickle
import json


from statsmodels.formula.api import ols
import statsmodels.api as sm
import scipy.stats as stats
from sklearn.model_selection import train_test_split
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score, mean_squared_error
import warnings
warnings.filterwarnings('ignore')

# Import and examine data

In [2]:
data = pd.read_csv('kc_house_data.csv')
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

# Cleaning dataset

1. Clean ID- column

#Let's see how many unique id-s we have in the data set.

In [4]:
print(f" There are {data['id'].nunique()} id_column uniques values.")

 There are 21420 id_column uniques values.

We have a few duplicate IDs now let's see if there are duplicate rows.

In [5]:
duplicateRowsData = data[data.duplicated()]
print(duplicateRowsData)

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

We have 177 duplicated ids but we don't have duplicated rows.

In [6]:
duplicateIdData = data[data.duplicated(['id'])]
print(duplicateIdData)

               id        date      price  bedrooms  bathrooms  sqft_living  \
94     6021501535  12/23/2014   700000.0         3       1.50         1580
314    4139480200   12/9/2014  1400000.0         4       3.25         4290
325    7520000520   3/11/2015   240500.0         2       1.00         1240
346    3969300030  12/29/2014   239900.0         4       1.00         1000
372    2231500030   3/24/2015   530000.0         4       2.25         2180
...           ...         ...        ...       ...        ...          ...
20165  7853400250   2/19/2015   645000.0         4       3.50         2910
20597  2724049222   12/1/2014   220000.0         2       2.50         1000
20654  8564860270   3/30/2015   502000.0         4       2.50         2680
20764  6300000226    5/4/2015   380000.0         4       1.00         1200
21565  7853420110    5/4/2015   625000.0         3       3.00         2780

       sqft_lot  floors  waterfront  view  ...  grade  sqft_above  \
94         5000     1.0         0.0   0.0  ...      8        1290
314       12103     1.0         0.0   3.0  ...     11        2690
325       12092     1.0         0.0   0.0  ...      6         960
346        7134     1.0         0.0   0.0  ...      6        1000
372       10754     1.0         0.0   0.0  ...      7        1100
...         ...     ...         ...   ...  ...    ...         ...
20165      5260     2.0         0.0   0.0  ...      9        2910
20597      1092     2.0         0.0   0.0  ...      7         990
20654      5539     2.0         NaN   0.0  ...      8        2680
20764      2171     1.5         0.0   0.0  ...      7        1200
21565      6000     2.0         0.0   0.0  ...      9        2780

       sqft_basement yr_built  yr_renovated  zipcode      lat     long  \
94             290.0     1939           0.0    98117  47.6870 -122.386
314           1600.0     1997           0.0    98006  47.5503 -122.102
325            280.0     1922        1984.0    98146  47.4957 -122.352
346              0.0     1943           NaN    98178  47.4897 -122.240
372           1080.0     1954           0.0    98133  47.7711 -122.341
...              ...      ...           ...      ...      ...      ...
20165            0.0     2012           0.0    98065  47.5168 -121.883
20597           10.0     2004           0.0    98118  47.5419 -122.271
20654            0.0     2013           0.0    98045  47.4759 -121.734
20764            0.0     1933           0.0    98133  47.7076 -122.342
21565            0.0     2013           NaN    98065  47.5184 -121.886

       sqft_living15  sqft_lot15
94              1570        4500
314             3860       11244
325             1820        7460
346             1020        7138
372             1810        6929
...              ...         ...
20165           2910        5260
20597           1330        1466
20654           2680        5992
20764           1130        1598
21565           2850        6000

[177 rows x 21 columns]

Let's check obne of the duplicate Ids to see if the duplicates are mistakes.

In [7]:
data_6021501=data[data['id'] == 6021501535]
data_6021501

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
93,6021501535,7/25/2014,430000.0,3,1.5,1580,5000,1.0,0.0,0.0,...,8,1290,290.0,1939,0.0,98117,47.687,-122.386,1570,4500
94,6021501535,12/23/2014,700000.0,3,1.5,1580,5000,1.0,0.0,0.0,...,8,1290,290.0,1939,0.0,98117,47.687,-122.386,1570,4500

These are houses that were sold more than once so we're not dropping any rows but we're going to drop the 'id' column since it's not going to help us. 
I tried to save the 'view' column thinking that it's about the house view and then I realized that it has nothing to do with that so I will drop the column.

In [ ]:
data.drop(['id','view'], axis = 1, inplace=True)

Clean data column.

Deal with the data column into data form then check to see if it changed.

In [ ]:
data['date'] = pd.to_datetime(data['date'], format())
data.head()

Check for missing data.

In [ ]:
data.info()

In [ ]:
non_categorical_cols = data.select_dtypes('number').columns
non_categorical_cols

In [ ]:
# Visualizing the number columns
for column in non_categorical_cols[1:]:
    plt.scatter(data[column], data['price'])
    plt.title(column)
    plt.show()

Clean 'bedrooms' column.

In [ ]:
bedroom_outliers = data[data['bedrooms']>30]
bedroom_outliers

The 33 bedroom house cannot have only 1620 square feet. Most likely it's a 3 bedroom house but since we don't know we will have to drop the row.

In [ ]:
data_1 = data.drop([15856])
#data_1.head()

In [ ]:
#check for bedroom outliers again
plt.scatter(data_1['bedrooms'], data_1['price'])
plt.title('bedrooms')
plt.show()

Clean 'sqft_basement' column.

In [ ]:
data_1['sqft_basement'].value_counts()

We have 454 '?' Let's replace them with 0. Let's also replace all the the values that are not ? or 0 with 1. We will have 1 for houses with basement and 0 for houses without basement.

In [ ]:
#replace '?' with 0 for not having a basement and chnage it to an integer.
data_1.loc[(data['sqft_basement'] == '?')] = 0

In [ ]:
data_1.head()

In [ ]:
data_1['sqft_basement'] = pd.to_numeric(data_1['sqft_basement'],errors='coerce')

Thanks to https://github.com/nadinezab/kc-house-prices-prediction/blob/master/kc-house-prices.ipynb The only modification I made: inplace = True to make the changes final.

In [ ]:
def has_basement(df):
    '''creates bool feature has_basement and drops original basement feature'''
    df['has_basement'] = df['sqft_basement'].map(lambda x: 1 if x > 0 else 0)
    df = df.drop('sqft_basement', axis = 1, inplace = True)
    return df

In [ ]:
has_basement(data_1)

In [ ]:
data_1['has_basement'].value_counts()

In [ ]:
import seaborn as sns
%matplotlib inline
sns.boxplot(x='has_basement',y='price',data=data_1)

There is a slight increase in price when the house has a basement, and it's probably related to having a larger sqft_living area.

In [ ]:
non_categorical_cols1 = data_1.select_dtypes('number').columns
non_categorical_cols1

import warnings
warnings.filterwarnings('ignore')
fig = plt.figure(figsize = (16,16))
ax = fig.gca()
data_1.hist(ax = ax);

In [ ]:
print("number of NaN values for the column waterfront :", data_1['waterfront'].isnull().sum())
print("number of NaN values for the column year renovated :", data_1['yr_renovated'].isnull().sum())

Waterfront and year renovated columns have many missing values. Let's investigate this further.

In [ ]:
print(f" There are {data_1['bedrooms'].nunique()} bedrooms-column uniques values.")
print(f" There are {data_1['bathrooms'].nunique()} bathrooms-column unique values")
print(f" There are {data_1['floors'].nunique()} floors-column unique values." )
print(f" There are {data_1['condition'].nunique()} condition-column unique values.")
print(f" There are {data_1['grade'].nunique()} grade-column unique values.")
print(f" There are {data_1['waterfront'].nunique()} waterfront-column unique values.")
print(f" There are {data_1['yr_built'].nunique()} yr_built-column unique values." )
print(f" There are {data_1['yr_renovated'].nunique()} year_renovated-column unique values.")
print(f" There are {data_1['zipcode'].nunique()} zipcode-column unique values.")

In [ ]:
print(f" There are {data_1['bedrooms'].unique()} bedrooms-column uniques values.")
print(f" There are {data_1['bathrooms'].unique()} bathrooms-column unique values")
print(f" There are {data_1['floors'].unique()} floors-column unique values." )
print(f" There are {data_1['condition'].unique()} condition-column unique values.")
print(f" There are {data_1['grade'].unique()} grade-column unique values.")
print(f" There are {data_1['waterfront'].unique()} waterfront-column unique values.")
print(f" There are {data_1['yr_built'].unique()} yr_built-column unique values." )
print(f" There are {data_1['yr_renovated'].unique()} year_renovated-column unique values.")
print(f" There are {data_1['zipcode'].unique()} zipcode-column unique values.")

'waterfront' and 'year_renovated' columns have nan values. 
For 'waterfront' column if the value is nan then then the house has no waterfront so we will replace the nan with 0.
For 'year_renovated' we're going to create a column 'renovated' and add 1 if the house was renovated and 0 if it was not renovated or we're missing information and we're going to drop 'yr_renovated' column.

In [ ]:
data_1['waterfront'].fillna(0, inplace=True)

In [ ]:
print(f" {data_1['waterfront'].unique()} are waterfront-column unique values.")

In [ ]:
data_1['yr_renovated'].fillna(0, inplace=True)

In [ ]:
data_1['renovated'] = np.where(data_1['yr_renovated']>0, 1 , 0)

In [ ]:
data_1.drop('yr_renovated', axis = 1, inplace = True)

We have a few 0 values in the 'zipcode' column. Let's see how many we have.

In [ ]:
zipcode_null = data_1[data_1['zipcode']<2]
zipcode_null

We have 454 row with no information. Let's go ahead and drop them.

First let's see how many rows we have.

In [ ]:
len(data_1)

In [ ]:
data_1= data_1[data_1.zipcode > 0]

In [ ]:
len(data_1)

# Train test

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X = data_1.drop('price', axis = 1)
y = data_1['price']

In [ ]:
# Train-test split (10% to test set)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [ ]:
# A brief preview of train-test split
print(len(X_train), len(X_test), len(y_train), len(y_test))

In [ ]:
data_1_t = pd.concat([X_train, y_train], axis = 1)
data_1_t.head()

# Let's see what atributes increase the price of the house.

Square feet of living space.

In [ ]:

sns.boxplot(x = data_1_t['sqft_living'], y = data_1_t['price'])
plt.title("Boxplot of sqft_living vs. price")
plt.ylabel("price in USD")
plt.xlabel("grade")
plt.show()

For an initial idea on how the predictors relate, you can take a look at scatterplots between predictors.

In [ ]:
pd.plotting.scatter_matrix(data_1, figsize=[18,18]);
plt.show

# Check for correlations.

In [ ]:
# Use .corr to see how our values correlate.
data_1.corr()

In [ ]:
#Check to find correlations bigger than 0.75.
abs(data_1.corr()) > 0.75

In [ ]:
df=data_1.corr().abs().stack().reset_index().sort_values(0, ascending=False)

# zip the variable name columns (Which were only named level_0 and level_1 by default) in a new column named "pairs"
df['pairs'] = list(zip(df.level_0, df.level_1))

# set index to pairs
df.set_index(['pairs'], inplace = True)

#drop level columns
df.drop(columns=['level_1', 'level_0'], inplace = True)

# rename correlation column as cc rather than 0
df.columns = ['cc']

# drop duplicates. This could be dangerous if you have variables perfectly correlated with variables other than themselves.
# for the sake of exercise, kept it in.
df.drop_duplicates(inplace=True)

In [ ]:
# Since a correlation of 1 happens only when data is identical we onlky need to separate correlation smaller than 1 and larger than 0.75.
df[(df.cc>.75) & (df.cc <1)]

In [ ]:
#Plot correlations in a heatmap.
fig, ax = plt.subplots(figsize=(15,15)) 
sns.heatmap(data_t_1, cmap="YlGnBu", annot=True);

We will drop: 'sqft_above', 'sqft_living15', 'bathrooms', 'sqft_lot15', 'floors', 'sqft_basement','lat', 'long','yr_built' to avoid correlations.

In [ ]:
data_1.drop(['sqft_above', 'sqft_living15', 'bathrooms', 'sqft_lot15', 'floors', 'sqft_basement','lat', 'long','yr_built'], axis=1, inplace = True)

In [ ]:
#Check again for correlations after we dropped.
import seaborn as sns
sns.heatmap(data_1.corr(), center=0);

In [ ]:
df=data_1.corr().abs().stack().reset_index().sort_values(0, ascending=False)

# zip the variable name columns (Which were only named level_0 and level_1 by default) in a new column named "pairs"
df['pairs'] = list(zip(df.level_0, df.level_1))

# set index to pairs
df.set_index(['pairs'], inplace = True)

#drop level columns
df.drop(columns=['level_1', 'level_0'], inplace = True)

# rename correlation column as cc rather than 0
df.columns = ['cc']

# drop duplicates. This could be dangerous if you have variables perfectly correlated with variables other than themselves.
# for the sake of exercise, kept it in.
df.drop_duplicates(inplace=True)

In [ ]:
df[(df.cc>.75) & (df.cc <1)]

Yay! No corelations.

# Remove outliers

In [ ]:
# Define function to remove outliers
def remove_outliers(df):
    '''removes entries with z-score above 3 for specific columns'''
    variables = ['bedrooms', 'sqft_living', 'sqft_lot', 'condition', 'grade']
    
    for variable in variables:
        df = df[np.abs(df[variable]-df[variable].mean()) <= (3*df[variable].std())]
        
    return df

In [ ]:
df = remove_outliers(data_1)
len(df)

# Deal with categorical data.

We have 2 columns with categorical data: 'waterfront', and 'renovated'.

In [ ]:
plt.scatter(data_1['waterfront'], data_1['price'])
plt.title('waterfront')
plt.show()

In [ ]:
plt.scatter(data_1['renovated'], data_1['price'])
plt.title('renovated')
plt.show()

# Q1 - Is it worth renovating the house you're thinking of selling?

In [ ]:
import seaborn as sns
%matplotlib inline
sns.boxplot(x='renovated',y='price',data=df)

As you can see the price of the house seems to be higher when the house is renovated.

# Q2 - Are houses with waterfront more expensive?

In [ ]:
import seaborn as sns
%matplotlib inline
sns.boxplot(x='waterfront',y='price',data=df)

In [ ]:

waterfrontmean = df[df['waterfront'] == 1]['price'].mean()
nonwaterfrontmean = df[df['waterfront'] == 0]['price'].mean()
print(f"The mean house price for a house with waterfront view is USD {round(waterfrontmean,2)}")
print(f"The mean house price for a house without waterfront view is USD {round(nonwaterfrontmean,2)}")

It's pretty obvious that houses with waterfront are more expensive.

Q3 Does the grade affects the price in any way?

Building grade is a feature from King County government and represents the construction quality of improvements. 
1-3 Falls short of minimum building standards. Normally cabin or inferior structure.
4 Generally older, low quality construction. Does not meet code.
5 Low construction costs and workmanship. Small, simple design.
6 Lowest grade currently meeting building code. Low quality materials and simple designs.
7 Average grade of construction and design. Commonly seen in plats and older sub-divisions.
8 Just above average in construction and design. Usually better materials in both the exterior and interior finish work.
9 Better architectural design with extra interior and exterior design and quality.
10 Homes of this quality generally have high quality features. Finish work is better and more design quality is seen in the floor plans. Generally have a larger square footage.
11 Custom design and higher quality finish work with added amenities of solid woods, bathroom fixtures and more luxurious options.
12 Custom design and excellent builders. All materials are of the highest quality and all conveniences are present.
13 Generally custom designed and built. Mansion level. Large amount of highest quality cabinet work, wood trim, marble, entry ways etc.

In [ ]:
# Plot grade distribution
df['grade'].hist()
plt.title('Distribution of building grade feature')
plt.xlabel('Grade')
plt.show()

In [ ]:
sns.boxplot(x = df['grade'], y = df['price'])
plt.title("Boxplot of grade vs. price")
plt.ylabel("price in USD")
plt.xlabel("grade")
plt.show()

In [ ]:
ax = sns.catplot(x='sqft_living', y="price", hue = 'grade', data=df);

In [ ]:
ax = sns.catplot(x='sqft_lot', y="price", hue = 'grade', data=df);

Train - test

Before proceeding further, we wish to split our data into a training set and a testing set. We will first need to seperate features from target and then we will make use of sklearn's train_test_split() function. We will choose to keep 10% of our data for final testing of our model.

In [ ]:
# Split features X and target y
X = kcdata.drop('price', axis = 1)
y = kcdata['price']

In [ ]:
from statsmodels.formula.api import ols

In [ ]:
outcome = 'price'
x_cols = ['displacement', 'horsepower', 'weight', 'acceleration']
predictors = '+'.join(x_cols)
formula = outcome + '~' + predictors
model = ols(formula=formula, data=data).fit()
model.summary()